@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.float-text {
  width: 225px;
  float: left;
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 50px;
}

.float-text:first-child {
  margin-left: 0;
}

.is-table {
  display: table;
}

.box-table {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.box-table:first-child {
  padding-left: 0;
}

.table-text {
  width: 225px;
  box-sizing: border-box;
  font-size: 16px;
}

.inner-inlineblock {
  font-size: 0;
}

.box-inlineblock {
  width: 225px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  margin-left: 50px;
  vertical-align: middle;
}

.box-inlineblock:first-child {
  margin-left: 0;
}

.inner-flex{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.box-flex {
  width: 225px;
  box-sizing: border-box;
}


.box-margin {
  font-size: 0;
}

.box-margin-Fixed {
  width: 300px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.box-margin-variable {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

.margin-text {
  font-size: 16px;
}







/* 回答はここに書いてね */
