@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q4__bar {
  background-color: #ecf1f2;
  width: 100%;
}

.longbar {
  width: 100%;
  display: table;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.longbar:first-child {
  padding-bottom: 0;
}

.fixed {
  width: 100px;
  padding: 20px 0;
  display: table-cell;
}

.Coral {
  background-color: #fdc8b8;
}

.blue {
  background-color: #b6d8ed;
}

.variable-purple {
  background-color: #e0abd9;
  padding: 20px 0;
  display: table-cell;
}

.variable {
  padding: 20px 0;
  display: table-cell;
}

.yellow {
  background-color: #e5d32e;
}

.Orange {
  background-color: #ec8f9a;
}

.fixed-green {
  width: 500px;
  background-color: #8fdcad;
  padding: 20px 0;
  display: table-cell;
}

/* 回答はここに書いてね */
