@charset "UTF-8";

/* 回答はここに書いてね */
.q4__bar {
  background-color: #ecf1f2;
  padding: 20px;
}

.longbar {
  width: 100%;
  display: table;
  text-align: center;
  box-sizing: border-box;
  margin-top: 20px;
}

.longbar:first-child {
  margin-top: 0;
}

.text {
  padding: 20px 0;
  display: table-cell;
}

.Coral {
  width: 100px;
  background-color: #fdc8b8;
}

.blue {
  width: 100px;
  background-color: #b6d8ed;
}

.purple {
  background-color: #e0abd9;
}

.yellow {
  background-color: #e5d32e;
}

.Orange {
  background-color: #ec8f9a;
}

.green {
  width: 500px;
  background-color: #8fdcad;
}

/* 回答はここに書いてね */
