@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q5__square0 {
  width: 500px;
  height: 500px;
  background-color: #ECF1F2;
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-size: 30px;
  font-weight: 900;
}


.square{
  width: 100px;
  height: 100px;
  line-height: 100px;
  position: absolute;
}

.square1 {
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
  z-index: 1;
}

.square2 {
  background-color: #7084de;
  top: 120px;
  left: 280px;
  z-index: 2;
}

.square3 {
  background-color: #d0ecea;
  top: 200px;
  left: 360px;
  z-index: 3;
}

.square4 {
  background-color: #8b7a5e;
  top: 280px;
  left: 280px;
  z-index: 4;
}

.square5 {
  background-color: #9fd6d2;
  top: 360px;
  left: 200px;
  z-index: 5;
}

.square6 {
  background-color: #fffee4;
  top: 280px;
  left: 120px;
  z-index: 6;
}

.square7 {
  background-color: #deae70;
  top: 200px;
  left: 40px;
  z-index: 7;
}

.square8 {
  background-color: #de70cf;
  position: relative;
  top: 120px;
  left: 120px;
  z-index: 8;
}

.square8::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  top: 0;
  right: 0;
}

.square9 {
  width: 100px;
  height: 100px;
  background-color: #2b69a3;
  line-height: 100px;
  position: fixed;
  top: 10px;
  left: 10px;
}
/* 回答はここに書いてね */
