@charset "UTF-8";

/* 回答はここに書いてね */

.box_text-align {
  text-align: center;
}


.bluebox_text-align {
  width: 90px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e6f2ff;
}

.bluebox_margin {
  width: 90px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e6f2ff;
  margin: 0 auto;
}

.is-table {
  display: table;
}

.box-is-table {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.white-table {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.is-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-flex {
  padding: 10px;
  background-color: #fff;
}

.inbox {
  position: relative;
}

.is-top {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.is-bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}


/* 回答はここに書いてね */
